.helloSection {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  padding-left: 3rem;
  padding-right: 3rem;

  h1 {
    font-size: 40px;
    font-weight: 700;
  }

  h2 {
    color: #9ca3af;
  }

  span {
    color: #7c3aed;
  }
}

.hireMe {
  margin-top: 60px;
  background-color: #7c3aed;
  padding: 20px;
  border-radius: 20px;
  border: 0;
  cursor: pointer;
  align-items: center;
  display: flex;
  color: #ffff;
  transition: all 0.2s ease-in-out;

  .hire {
    padding-left: 10px;
  }

  .hireHover {
    padding-left: 15px;
    display: none;
  }

  &:hover {
    transform: translateY(-5px);
    color: black;

    .hireHover {
      display: flex;
    }

    .hire {
      display: none;
    }
  }
}

.homeImage {
  width: 550px;
}

.mobileHomeImage {
  display: none;
}

@media (max-width: 768px) {
  .helloSection {
    flex-direction: column;
    padding: 0;

    .information {
      z-index: 1;
    }

    .homeImage {
      display: none;
    }
    .mobileHomeImage {
      display: flex;
      height: 500px;
      margin-left: 70px;
      margin-top: -100px;
      object-fit: cover;
    }
  }
}

.newWeb {
  font-size: 30px;
  color: #7c3aed;
}
